main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
form * + * { margin-left: .5em;}
form input[type="number"] {
  padding: 0;
  -webkit-appearance: none;
  outline: 0;
  border: 1px solid gainsboro;
  height: 33px;
  padding-left: .5em;
}
form input[type="submit"] {
  background: grey;
}

button, input[type="submit"] {
  -webkit-appearance: none;

  display: block;
  padding: 1em;

  overflow: hidden;
  border-width: 0;
  outline: none;

  background-color: #2ecc71;
  color: #ecf0f1;

  transition: background-color .3s;
}
button:hover, input[type="submit"]:focus {
  background-color: #27ae60;
}

#multiply {
  transform: scale(1.2)
}
