@import "blitzers/lib.scss";


body {
  letter-spacing: .01em;
}

header[role="banner"] {
  @extend %container;
  @extend %valign;

  background-color: $blitzDorado;
  color: $blitzWhite;
  box-shadow: 0px 4px 5px 0px $blitzBlack;

  .logo {
    font-size: 1em;
    margin: 0;
    user-select: none;
  }
  span[role="img"] {
    position: relative;
    top: 2px;
  }

  nav {
    @extend %valign;
    justify-content: flex-end;
    a {
      padding: $halfPadding;
      &, &:visited { color: inherit; }
    }
    * + * { margin-left: $fullPadding; }
  }
}

main[role="main"] {
  @extend %container;
}

.title {
  font-family: $family-sans-serif;
}
