// Imports

@import "blitzers/lib.scss";

// Vars
$blitzWhite: fade-out(white, .1);
$blitzBlack: fade-out(black, .85);

$fullPadding: 1em;
$superPadding: ($fullPadding * 2);
$halfPadding: ($fullPadding / 2);

// Mixins
%valign {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:after { display: none; }
}

// CSS
body {
  letter-spacing: .01em;
}

header[role="banner"] {
  background-color: $blitzDorado;
  color: $blitzWhite;
  box-shadow: 0px 4px 5px 0px $blitzBlack;

  .logo {
    font-size: 1em;
    margin: 0;
  }
  span[role="img"] {
    position: relative;
    top: 2px;
  }

  .container {
    padding: $halfPadding 0;
    @extend %valign;
  }

  nav {
    @extend %valign;
    justify-content: flex-end;

    a, a:visited { color: $blitzWhite; }
    * + * { margin-left: $fullPadding; }
  }
}

main[role="main"] {
  padding: $superPadding 0;
}
