// Imports
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import 'skeleton-css/css/normalize';
@import 'skeleton-css/css/skeleton';

// Vars
$blitzDorado: #b0976d;
$blitzWhite: fade-out(white, .1);
$blitzBlack: fade-out(black, .85);

$fullPadding: 1em;
$superPadding: ($fullPadding * 2);
$halfPadding: ($fullPadding / 2);

// Mixins
%valign {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// CSS
body {
  letter-spacing: .01em;
}

header[role="banner"] {
  padding: $halfPadding $fullPadding;
  background-color: $blitzDorado;
  color: $blitzWhite;
  box-shadow: 0px 4px 5px 0px $blitzBlack;

  @extend %valign;

  .logo {
    font-size: 1em;
    margin: 0;
  }
}

nav[role="navigation"] {
  @extend %valign;
  justify-content: flex-end;

  a, a:visited { color: $blitzWhite; }
  * + * { margin-left: $fullPadding; }
}

main[role="main"] {
  padding: $superPadding;
}
